{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "semi": false,
    "jsxBracketSameLine": true,
    "overrides": [
        {
            "files": ["*.less"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
